# Docusaurus React contexts break when pnpm installs duplicate copies.
# See https://github.com/facebook/docusaurus/issues/7880
shamefully-hoist=true
public-hoist-pattern[]=*@docusaurus/*
public-hoist-pattern[]=@docsearch/*
