body, html {
  -webkit-user-select: none;
  color: #323232;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/bg.jpg");
  background-position: center center;
  background-size: cover;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
ul, li {
  list-style: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
:focus {
  outline: none;
}
a {
  text-decoration: none;
  outline: none;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.main {
  margin: 50px auto;
  padding: 0px 15px;
  text-align: center;
}

.charts-list {
  margin: 0 auto;
}

@media (min-width: 992px) {
  .charts-list {
    width: 921px;
  }
}
@media (min-width: 1280px) {
  .charts-list {
    width: 1230px;
  }
}
@media (min-width: 1600px) {
  .charts-list {
    width: 1537px;
  }
}

.chart {
  padding: 10px 10px 0;
  height: 278px;
  width: 282px;
  border: 1px solid #e5e5e5;
  display: inline-block;
  margin: 36px 0;
  cursor: inherit;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.chart:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, .45);
}
.chart_wrap {
  height: 262px;
  width: 262px;
  margin: auto;
}
.chart_bg {
  width: 262px;
  height: 206px;
  background: center no-repeat;
  background-size: cover;
  display: block;
}
.chart_hover {
  opacity: 0;
  color: #fff;
  text-align: center;
  height: 100%;
}
.chart_magnifier {
  padding-top: 70px;
}
.chart:hover .chart_hover {
  opacity: 1;
  background: rgba(0, 0, 0, .3);
}
.chart_info {
  height: 56px;
  padding: 0px 3px;
}
.chart_name, .chart_all{
  font-size: 14px;
  color: #767676;
  line-height: 30px;
  text-align: left;
}
.chart_all {
  text-align: center;
  padding-top: 28px;
}
.chart_detail {
  font-size: 12px;
  color: #999;
}
.chart_icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url("../images/user_time.png") no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  margin-right: 2px;
}
.chart_author_icon {
  background-position: 0 0;
}
.chart_time_icon {
  background-position: -16px 0;
}
.chart_icontxt {
  line-height: 16px;
  vertical-align: middle;
}
