body, html, #app {
  color: #323232;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: #030408;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

ul, li {
  list-style: none;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
  color: #fff;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}
