/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body, html {
  -webkit-user-select: none;
  /*background: #153874;*/
  color: #323232;
  width: 100%;
  height: 100%;
  margin: 0;
  /*overflow: hidden;*/
  padding: 0;
  background-image: url("../asset/images/bg.jpg");
  background-position: center center;
  /*overflow: hidden;*/
  background-size: cover;
}

a {
  display: block;
}

a,
a:active,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

#most-visited {
  -webkit-user-select: none;
  text-align: -webkit-center;
  margin-bottom: 20px;
  margin-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  #most-visited {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  #most-visited {
    width: 970px;
  }
}
@media (min-width: 768px) {
  #most-visited {
    width: 750px;
  }
}

#mv-tiles,
.mv-tiles-old {
  -webkit-user-select: none;
  font-size: 0;
  /*height: calc(146px + 130px);*/
  line-height: 146px;
  margin: 0;
  opacity: 0;
  /*position: absolute;*/
  /* This align correctly for both LTR and RTL */
  text-align: -webkit-auto;
  transition: opacity 1s;
}

.mv-tile,
.mv-empty-tile {
  background: rgb(242,242,242);
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 12px;
  height: calc(130px - 2px);
  line-height: 100%;
  margin: 0 8px;
  opacity: 1;
  outline: 0;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  white-space: nowrap;
  width: calc(156px - 2px);
}

.mv-tile.hidden,
.mv-empty-tile.hidden {
  display: none;
}

.mv-tile {
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: transform, border, box-shadow, margin, opacity, width;
}

.mv-thumb:hover .hover-title {
  display: block;
}

.hover-title {
  display: none;
  position: absolute;
  top: 0px;
  width: calc(100% - 4px);
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  transition: 0.1s all ease-in-out;
  -webkit-transition: 0.1s all ease-in-out;
}

.chart-title {
  color: #bf465b;
}

.mv-tile:focus:not(:hover) {
  -webkit-filter: brightness(75%);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
}

.mv-tile.blacklisted {
  border: none !important;
  margin: 0;
  transform: scale(0, 0);
  width: 0;
}

.mv-tile:hover {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
}

.mv-tile.mv-blacklist {
  margin-left: 0;
  margin-right: 0;
  opacity: 0;
  transform: scale(0, 0);
  transform-origin: 0 41px;
  width: 0;
}

.mv-title {
  -webkit-mask-image:
    linear-gradient(to right, #000, #000, 100px, transparent);
  border: none;
  height: 15px;
  left: 31px;
  line-height: 14px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-overflow: clip;
  top: 8px;
  width: calc(156px - 32px - 4px);
}

.mv-title.multiline {
  white-space: pre-wrap;
  word-wrap: break-word;
}

html:not([dir=rtl]) .mv-title[style*='direction: rtl'] {
  -webkit-mask-image:
    linear-gradient(to left, black, black, 100px, transparent);
  left: auto;
  right: 8px;
  text-align: right;
}

html[dir=rtl] .mv-title {
  left: 8px;
  text-align: left;
}

html[dir=rtl] .mv-title[style*='direction: rtl'] {
  -webkit-mask-image:
    linear-gradient(to left, black, black, 100px, transparent);
  right: 31px;
  text-align: right;
}

.mv-thumb {
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: block;
  height: 94px;
  left: 3px;
  overflow: hidden;
  position: absolute;
  top: 31px;
  width: 148px;
}

.mv-thumb img {
  height: auto;
  min-height: 100%;
  width: calc(100% - 4px);
}

.mv-thumb.failed-img {
  background-color: #fff;
  height: 94px;
  width: 148px;
}

/* We use ::after without content to provide an aditional element on top of the
 * thumbnail. */
.mv-thumb.failed-img::after {
  border: 8px solid #f2f2f2;
  border-radius: 50%;
  content: '';
  display: block;
  height: 0;
  margin: 39px 66px;
  width: 0;
}

.mv-x {
  background: linear-gradient(to left, rgb(242,242,242) 60%, transparent);
  border: none;
  cursor: pointer;
  height: 30px;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: opacity 150ms;
  width: 40px;
}

/* We use ::after without content to provide the masked X element. The "bottom"
 * div is actually just the gradient. */
.mv-x::after {
  -webkit-mask-image: -webkit-image-set(
    url(chrome-search://local-ntp/images/close_3_mask.png) 1x,
    url(chrome-search://local-ntp/images/close_3_mask.png@2x) 2x);
  -webkit-mask-position: 12px 10px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 10px 10px;
  background-color: rgba(90,90,90,0.7);
  content: '';
  display: block;
  height: 32px;
  position: absolute;
  right: 0;
  width: 32px;
}

html[dir=rtl] .mv-x {
  background: linear-gradient(to right, rgb(242,242,242) 60%, transparent);
  left: -1px;
  right: auto;
}

html[dir=rtl] .mv-x::after {
  left: -1px;
  right: auto;
}

.mv-x:hover::after {
  background-color: rgb(90,90,90);
}

.mv-x:active::after {
  background-color: rgb(66,133,244);
}

.mv-tile:hover .mv-x {
  opacity: 1;
  transition-delay: 500ms;
}

.mv-x:hover {
  transition: none;
}

.mv-favicon {
  background-size: 16px;
  height: 16px;
  left: 7px;
  margin: 0;
  pointer-events: none;
  position: absolute;
  top: 7px;
  width: 16px;
}

html[dir=rtl] .mv-favicon {
  left: auto;
  right: 7px;
}

.mv-favicon.failed-favicon {
  background-image: -webkit-image-set(
    url(chrome-search://local-ntp/images/ntp_default_favicon.png) 1x,
    url(chrome-search://local-ntp/images/ntp_default_favicon.png@2x) 2x);
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.mv-favicon img {
  height: 100%;
  width: 100%;
}

.mv-favicon.failed-favicon img {
  display: none;
}
