.ol-box {
  box-sizing: border-box;
  border-radius: 2px;
  border: 2px solid blue;
}

.ol-mouse-position {
  top: 8px;
  right: 8px;
  position: absolute;
}

.ol-scale-line {
  background: rgba(0,60,136,0.3);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
}
.ol-scale-line-inner {
  border: 1px solid #eee;
  border-top: none;
  color: #eee;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  will-change: contents, width;
}
.ol-overlay-container {
  will-change: left,right,top,bottom;
}

.ol-unsupported {
  display: none;
}
.ol-viewport .ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ol-control {
  position: absolute;
  background-color: rgba(255,255,255,0.4);
  border-radius: 4px;
  padding: 2px;
}
.ol-control:hover {
  background-color: rgba(255,255,255,0.6);
}
.ol-zoom {
  top: .5em;
  left: .5em;
}
.ol-rotate {
  top: .5em;
  right: .5em;
  transition: opacity .25s linear, visibility 0s linear;
}
.ol-rotate.ol-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s linear, visibility 0s linear .25s;
}
.ol-zoom-extent {
  top: 4.643em;
  left: .5em;
}
.ol-full-screen {
  right: .5em;
  top: .5em;
}
@media print {
  .ol-control {
    display: none;
  }
}

.ol-control button {
  display: block;
  margin: 1px;
  padding: 0;
  color: white;
  font-size: 1.14em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  line-height: .4em;
  background-color: rgba(0,60,136,0.5);
  border: none;
  border-radius: 2px;
}
.ol-control button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.ol-zoom-extent button {
  line-height: 1.4em;
}
.ol-compass {
  display: block;
  font-weight: normal;
  font-size: 1.2em;
  will-change: transform;
}
.ol-touch .ol-control button {
  font-size: 1.5em;
}
.ol-touch .ol-zoom-extent {
  top: 5.5em;
}
.ol-control button:hover,
.ol-control button:focus {
  text-decoration: none;
  background-color: rgba(0,60,136,0.7);
}
.ol-zoom .ol-zoom-in {
  border-radius: 2px 2px 0 0;
}
.ol-zoom .ol-zoom-out {
  border-radius: 0 0 2px 2px;
}


.ol-attribution {
  text-align: right;
  bottom: .5em;
  right: .5em;
  max-width: calc(100% - 1.3em);
}

.ol-attribution ul {
  margin: 0;
  padding: 0 .5em;
  font-size: .7rem;
  line-height: 1.375em;
  color: #000;
  text-shadow: 0 0 2px #fff;
}
.ol-attribution li {
  display: inline;
  list-style: none;
  line-height: inherit;
}
.ol-attribution li:not(:last-child):after {
  content: " ";
}
.ol-attribution img {
  max-height: 2em;
  max-width: inherit;
  vertical-align: middle;
}
.ol-attribution ul, .ol-attribution button {
  display: inline-block;
}
.ol-attribution.ol-collapsed ul {
  display: none;
}
.ol-attribution.ol-logo-only ul {
  display: block;
}
.ol-attribution:not(.ol-collapsed) {
  background: rgba(255,255,255,0.8);
}
.ol-attribution.ol-uncollapsible {
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0;
  height: 1.1em;
  line-height: 1em;
}
.ol-attribution.ol-logo-only {
  background: transparent;
  bottom: .4em;
  height: 1.1em;
  line-height: 1em;
}
.ol-attribution.ol-uncollapsible img {
  margin-top: -.2em;
  max-height: 1.6em;
}
.ol-attribution.ol-logo-only button,
.ol-attribution.ol-uncollapsible button {
  display: none;
}

.ol-zoomslider {
  top: 4.5em;
  left: .5em;
  height: 200px;
}
.ol-zoomslider button {
  position: relative;
  height: 10px;
}

.ol-touch .ol-zoomslider {
  top: 5.5em;
}

.ol-overviewmap {
  left: 0.5em;
  bottom: 0.5em;
}
.ol-overviewmap.ol-uncollapsible {
  bottom: 0;
  left: 0;
  border-radius: 0 4px 0 0;
}
.ol-overviewmap .ol-overviewmap-map,
.ol-overviewmap button {
  display: inline-block;
}
.ol-overviewmap .ol-overviewmap-map {
  border: 1px solid #7b98bc;
  height: 150px;
  margin: 2px;
  width: 150px;
}
.ol-overviewmap:not(.ol-collapsed) button{
  bottom: 1px;
  left: 2px;
  position: absolute;
}
.ol-overviewmap.ol-collapsed .ol-overviewmap-map,
.ol-overviewmap.ol-uncollapsible button {
  display: none;
}
.ol-overviewmap:not(.ol-collapsed) {
  background: rgba(255,255,255,0.8);
}
.ol-overviewmap-box {
  border: 2px dotted rgba(0,60,136,0.7);
}

.overlay-point-content {
  cursor: pointer;
  position: relative;
}

.overlay-point-content span {
  position: absolute;
  font-size: 13px;
  color: #ffffff;
  top: calc(50% - 13px);
  left: calc(50% - 4px);
}

.overlay-point-content span:after {
  content: "";
  width: 16px;
  height: 5px;
  top: 100%;
  left: 50%;
  transform: translate(-8px, -13px);
  -ms-transform: translate(-8px, -13px);
  /* IE 9 */
  -webkit-transform: translate(-8px, -13px);
  /* Safari and Chrome */
  position: absolute;
  display: none;
  background: #ccc;
  border-radius: 50% 50%;
}

.overlay-point-marker-raise {
  animation-name: overlay-point-marker-raise;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-delay: .1s;
  animation-timing-function: ease-in;
  transform-origin: 50% 100%;
}

@keyframes overlay-point-marker-raise {
  0% {
    transform: scale3d(0, 0, 1) translate3d(0, 0, 0);
    -webkit-transform: scale3d(0, 0, 1) translate3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 1) translate3d(0, 0, 0);
  }
  50% {
    transform: scale3d(0.9, 1.1, 1) translate3d(0, -30%, 0);
    -webkit-transform: scale3d(0.9, 1.1, 1) translate3d(0, -30%, 0);
    -ms-transform: scale3d(0.9, 1.1, 1) translate3d(0, -30%, 0);
  }
  80% {
    transform: scale3d(1.1, .85, 1) translate3d(0, 0, 0);
    -webkit-transform: scale3d(1.1, .85, 1) translate3d(0, 0, 0);
    -ms-transform: scale3d(1.1, .85, 1) translate3d(0, 0, 0);
  }
}
@-webkit-keyframes overlay-point-marker-raise {
  0% {
    transform: scale3d(0, 0, 1) translate3d(0, 0, 0);
    -webkit-transform: scale3d(0, 0, 1) translate3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 1) translate3d(0, 0, 0);
  }
  50% {
    transform: scale3d(0.9, 1.1, 1) translate3d(0, -30%, 0);
    -webkit-transform: scale3d(0.9, 1.1, 1) translate3d(0, -30%, 0);
    -ms-transform: scale3d(0.9, 1.1, 1) translate3d(0, -30%, 0);
  }
  80% {
    transform: scale3d(1.1, .85, 1) translate3d(0, 0, 0);
    -webkit-transform: scale3d(1.1, .85, 1) translate3d(0, 0, 0);
    -ms-transform: scale3d(1.1, .85, 1) translate3d(0, 0, 0);
  }
}

.overlay-point-marker-red {
  animation-name: overlay-point-marker-red;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-delay: .1s;
  animation-timing-function: ease-out;
  transform-origin: 50% 100%;
}

@keyframes overlay-point-marker-red {
  0% {
    box-shadow: 0 0 18px #e63c23,
    0px 0 11px #e63c23,
    0px 0 8px #e63c23,
    0px 0 3px #e63c23,
    0px 0 2px #e63c23,
    inset 0 0 3px #e63c23,
    inset 0 0 5px #e63c23,
    inset 0 0 6px #e63c23,
    inset 0 0 8px #e63c23;
  }
  50% {
    box-shadow: 0 0 5px #e63c23,
    0px 0 2px #e63c23,
    0px 0 3px #e63c23,
    0px 0 2px #e63c23,
    0px 0 1px #e63c23,
    inset 0 0 2px #e63c23,
    inset 0 0 3px #e63c23,
    inset 0 0 28px #e63c23,
    inset 0 0 32px #e63c23;
  }
  100% {
    box-shadow: 0 0 18px #e63c23,
    0px 0 11px #e63c23,
    0px 0 8px #e63c23,
    0px 0 3px #e63c23,
    0px 0 2px #e63c23,
    inset 0 0 3px #e63c23,
    inset 0 0 5px #e63c23,
    inset 0 0 6px #e63c23,
    inset 0 0 8px #e63c23;
  }
}
@-webkit-keyframes overlay-point-marker-red {
  0% {
    box-shadow: 0 0 18px #e63c23,
    0px 0 11px #e63c23,
    0px 0 8px #e63c23,
    0px 0 3px #e63c23,
    0px 0 2px #e63c23,
    inset 0 0 3px #e63c23,
    inset 0 0 5px #e63c23,
    inset 0 0 6px #e63c23,
    inset 0 0 8px #e63c23;
  }
  50% {
    box-shadow: 0 0 5px #e63c23,
    0px 0 2px #e63c23,
    0px 0 3px #e63c23,
    0px 0 2px #e63c23,
    0px 0 1px #e63c23,
    inset 0 0 2px #e63c23,
    inset 0 0 3px #e63c23,
    inset 0 0 28px #e63c23,
    inset 0 0 32px #e63c23;
  }
  100% {
    box-shadow: 0 0 18px #e63c23,
    0px 0 11px #e63c23,
    0px 0 8px #e63c23,
    0px 0 3px #e63c23,
    0px 0 2px #e63c23,
    inset 0 0 3px #e63c23,
    inset 0 0 5px #e63c23,
    inset 0 0 6px #e63c23,
    inset 0 0 8px #e63c23;
  }
}

.overlay-point-marker-orange {
  animation-name: overlay-point-marker-orange;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-delay: .1s;
  animation-timing-function: ease-out;
  transform-origin: 50% 100%;
}

@keyframes overlay-point-marker-orange {
  0% {
    box-shadow: 0 0 18px #ff9d15,
    0px 0 11px #ff9d15,
    0px 0 8px #ff9d15,
    0px 0 3px #ff9d15,
    0px 0 2px #ff9d15,
    inset 0 0 3px #ff9d15,
    inset 0 0 5px #ff9d15,
    inset 0 0 6px #ff9d15,
    inset 0 0 8px #ff9d15;
  }
  50% {
    box-shadow: 0 0 5px #ff9d15,
    0px 0 2px #ff9d15,
    0px 0 3px #ff9d15,
    0px 0 2px #ff9d15,
    0px 0 1px #ff9d15,
    inset 0 0 2px #ff9d15,
    inset 0 0 3px #ff9d15,
    inset 0 0 28px #ff9d15,
    inset 0 0 32px #ff9d15;
  }
  100% {
    box-shadow: 0 0 18px #ff9d15,
    0px 0 11px #ff9d15,
    0px 0 8px #ff9d15,
    0px 0 3px #ff9d15,
    0px 0 2px #ff9d15,
    inset 0 0 3px #ff9d15,
    inset 0 0 5px #ff9d15,
    inset 0 0 6px #ff9d15,
    inset 0 0 8px #ff9d15;
  }
}
@-webkit-keyframes overlay-point-marker-orange {
  0% {
    box-shadow: 0 0 18px #ff9d15,
    0px 0 11px #ff9d15,
    0px 0 8px #ff9d15,
    0px 0 3px #ff9d15,
    0px 0 2px #ff9d15,
    inset 0 0 3px #ff9d15,
    inset 0 0 5px #ff9d15,
    inset 0 0 6px #ff9d15,
    inset 0 0 8px #ff9d15;
  }
  50% {
    box-shadow: 0 0 5px #ff9d15,
    0px 0 2px #ff9d15,
    0px 0 3px #ff9d15,
    0px 0 2px #ff9d15,
    0px 0 1px #ff9d15,
    inset 0 0 2px #ff9d15,
    inset 0 0 3px #ff9d15,
    inset 0 0 28px #ff9d15,
    inset 0 0 32px #ff9d15;
  }
  100% {
    box-shadow: 0 0 18px #ff9d15,
    0px 0 11px #ff9d15,
    0px 0 8px #ff9d15,
    0px 0 3px #ff9d15,
    0px 0 2px #ff9d15,
    inset 0 0 3px #ff9d15,
    inset 0 0 5px #ff9d15,
    inset 0 0 6px #ff9d15,
    inset 0 0 8px #ff9d15;
  }
}

.overlay-point-marker-yellow {
  animation-name: overlay-point-marker-yellow;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-delay: .1s;
  animation-timing-function: ease-out;
  transform-origin: 50% 100%;
}

@keyframes overlay-point-marker-yellow {
  0% {
    box-shadow: 0 0 18px #ffcb15,
    0px 0 11px #ffcb15,
    0px 0 18px #ffcb15,
    0px 0 3px #ffcb15,
    0px 0 2px #ffcb15,
    inset 0 0 3px #ffcb15,
    inset 0 0 5px #ffcb15,
    inset 0 0 6px #ffcb15,
    inset 0 0 8px #ffcb15;
  }
  50% {
    box-shadow: 0 0 8px #ffcb15,
    0px 0 4px #ffcb15,
    0px 0 3px #ffcb15,
    0px 0 2px #ffcb15,
    0px 0 1px #ffcb15,
    inset 0 0 2px #ffcb15,
    inset 0 0 3px #ffcb15,
    inset 0 0 28px #ffcb15,
    inset 0 0 32px #ffcb15;
  }
  100% {
    box-shadow: 0 0 18px #ffcb15,
    0px 0 11px #ffcb15,
    0px 0 8px #ffcb15,
    0px 0 3px #ffcb15,
    0px 0 2px #ffcb15,
    inset 0 0 3px #ffcb15,
    inset 0 0 5px #ffcb15,
    inset 0 0 6px #ffcb15, inset 0 0 8px #ffcb15;
  }
}
@-webkit-keyframes overlay-point-marker-yellow {
  0% {
    box-shadow: 0 0 18px #ffcb15,
    0px 0 11px #ffcb15,
    0px 0 18px #ffcb15,
    0px 0 3px #ffcb15,
    0px 0 2px #ffcb15,
    inset 0 0 3px #ffcb15,
    inset 0 0 5px #ffcb15,
    inset 0 0 6px #ffcb15,
    inset 0 0 8px #ffcb15;
  }
  50% {
    box-shadow: 0 0 8px #ffcb15,
    0px 0 4px #ffcb15,
    0px 0 3px #ffcb15,
    0px 0 2px #ffcb15,
    0px 0 1px #ffcb15,
    inset 0 0 2px #ffcb15,
    inset 0 0 3px #ffcb15,
    inset 0 0 28px #ffcb15,
    inset 0 0 32px #ffcb15;
  }
  100% {
    box-shadow: 0 0 18px #ffcb15,
    0px 0 11px #ffcb15,
    0px 0 8px #ffcb15,
    0px 0 3px #ffcb15,
    0px 0 2px #ffcb15,
    inset 0 0 3px #ffcb15,
    inset 0 0 5px #ffcb15,
    inset 0 0 6px #ffcb15, inset 0 0 8px #ffcb15;
  }
}

.overlay-point-marker-blue {
  animation-name: overlay-point-marker-blue;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-delay: .1s;
  animation-timing-function: ease-out;
}

@keyframes overlay-point-marker-blue {
  0% {
    box-shadow: 0 0 18px #1b9de8,
    0px 0 11px #1b9de8,
    0px 0 8px #1b9de8,
    0px 0 5px #1b9de8,
    0px 0 3px #1b9de8,
    inset 0 0 4px #1b9de8,
    inset 0 0 7px #1b9de8,
    inset 0 0 3px #1b9de8,
    inset 0 0 6px #1b9de8;
  }
  50% {
    box-shadow: 0 0 3px rgba(27,157,232, 0.54),
    0px 0 2px rgba(27,157,232, 0.55),
    0px 0 2px #1b9de8,
    0px 0 1px #1b9de8,
    0px 0 1px rgba(0, 150, 136, 0.68),
    inset 0 0 0 #1b9de8,
    inset 0 0 9px #1b9de8,
    inset 0 0 28px #1b9de8,
    inset 0 0 32px #1b9de8;
  }
  100% {
    box-shadow: 0 0 18px #1b9de8,
    0px 0 11px #1b9de8,
    0px 0 8px #1b9de8,
    0px 0 5px #1b9de8,
    0px 0 3px #1b9de8,
    inset 0 0 4px #1b9de8,
    inset 0 0 7px #1b9de8,
    inset 0 0 3px #1b9de8,
    inset 0 0 6px #1b9de8;
  }
}
@-webkit-keyframes overlay-point-marker-blue {
  0% {
    box-shadow: 0 0 18px #1b9de8,
    0px 0 11px #1b9de8,
    0px 0 8px #1b9de8,
    0px 0 5px #1b9de8,
    0px 0 3px #1b9de8,
    inset 0 0 4px #1b9de8,
    inset 0 0 7px #1b9de8,
    inset 0 0 3px #1b9de8,
    inset 0 0 6px #1b9de8;
  }
  50% {
    box-shadow: 0 0 3px rgba(27,157,232, 0.54),
    0px 0 2px rgba(27,157,232, 0.55),
    0px 0 2px #1b9de8,
    0px 0 1px #1b9de8,
    0px 0 1px rgba(0, 150, 136, 0.68),
    inset 0 0 0 #1b9de8,
    inset 0 0 9px #1b9de8,
    inset 0 0 28px #1b9de8,
    inset 0 0 32px #1b9de8;
  }
  100% {
    box-shadow: 0 0 18px #1b9de8,
    0px 0 11px #1b9de8,
    0px 0 8px #1b9de8,
    0px 0 5px #1b9de8,
    0px 0 3px #1b9de8,
    inset 0 0 4px #1b9de8,
    inset 0 0 7px #1b9de8,
    inset 0 0 3px #1b9de8,
    inset 0 0 6px #1b9de8;
  }
}

.plot-helper-control-point-div {
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 100%;
  background-color: #ffffff;
  opacity: 0.6;
  cursor: move;
}